* {
    margin: 0;
    padding: 0;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

/* ***** HOVER.CSS FROM GITHUB START ***** */

.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

/* ************ */

@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}
@keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}
.hvr-pulse-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* ***** HOVER.CSS FROM GITHUB END ***** */

/* ***** SCROLL REVEAL START ***** */

html.sr .load-hidden {
    visibility: hidden;
}


/* ***** SCROLL REVEAL END ***** */

/* ***** CONTAINERS FRAMEWORK START ***** */

.container {
    background: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.container-area {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal;
    -box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-orient: vertical; 
    -moz-box-orient: vertical;
    -box-orient: vertical;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-nw {
    flex-wrap: nowrap;
}

.flex-gr-1 {
    flex-grow: 1;
}

.flex-sh-1 {
    flex-shrink: 1;
}

.flex-gr-2 {
    flex-grow: 2;
}

.flex-sh-2 {
    flex-shrink: 2;
}

.flex-gr-3 {
    flex-grow: 3;
}

.flex-sh-3 {
    flex-shrink: 3;
}

.flex-gr-4 {
    flex-grow: 4;
}

.flex-sh-4 {
    flex-shrink: 4;
}

.flex-b-100 {
    flex-basis: 100%;
}

.flex-j-c {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -box-pack: center;
    justify-content: center;
}

.flex-j-t {
    -webkit-box-pack: flex-start;
    -moz-box-pack: flex-start;
    -box-pack: flex-start;
    justify-content: flex-start;
}

.flex-j-b {
    -webkit-box-pack: flex-end;
    -moz-box-pack: flex-end;
    -box-pack: flex-end;
    justify-content: flex-end;
}

.flex-j-sb {
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -box-pack: space-between;
    justify-content: space-between;
}

.flex-j-sa {
    -webkit-box-pack: space-around;
    -moz-box-pack: space-around;
    -box-pack: space-around;
    justify-content: space-around;
}

.flex-a-c {
    -webkit-box-align: center;
    -moz-box-align: center;
    -box-align: center;
    align-content: center;
}

.flex-a-t {
    -webkit-box-align: flex-start;
    -moz-box-align: flex-start;
    -box-align: flex-start;
    align-content: flex-start;
}

.flex-a-b {
    -webkit-box-align: flex-end;
    -moz-box-align: flex-end;
    -box-align: flex-end;
    align-content: flex-end;
}

.flex-a-sb {
    -webkit-box-align: space-between;
    -moz-box-align: space-between;
    -box-align: space-between;
    align-content: space-between;
}

.flex-a-sa {
    -webkit-box-align: space-around;
    -moz-box-align: space-around;
    -box-align: space-around;
    align-content: space-around;
}

.flex-sa-c {
    align-self: center;
}

.flex-sa-t {
    align-self: flex-start;
}

.flex-sa-b {
    align-self: flex-end;
}

.flex-sa-sb {
    align-self: space-between;
}

.flex-sa-sa {
    align-self: space-around;
}

.flex-110 {
    flex: 1 1 0;
}

.flex-w-33 {
    width: 33%;
}

.flex-w-50 {
    width: 50%;
}

.flex-image {
    width: 100%;
    margin: auto;
}

.flex-image img {
    display: block;
    width: 100%;
    max-width: 372px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto;
    border-radius: 15px;
}

.borders > * {
    border-radius: 15px;
    margin: 5px 5px;
}

.reset {
    border-radius: 0;
    margin: 0;
}

.text-a-c {
    text-align: center;
}

.text-a-l {
    text-align: left;
}

.padding-5px {
    padding: 5px 5px;
}

.mt-10 {
    margin-top: 10px;
}

.h-100 {
    height: 100%;
}

.white {
    background-color: #fff;
}

.purple {
    background-color: #6613d3;
}

.lightpurple {
    background-color: #7520d6;
}

.gray {
    background-color: #8a8a8a;
}

.darkgray {
    background-color: #3a3a3a;
}

/* ***** CONTAINERS FRAMEWORK END ***** */

/* ***** NAVBAR/FRONT PAGE START ***** */

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 100;
}

nav {
    height: 100vh;
    background: #000;
}

nav i {
    margin: 0 auto;
}

nav ul {
    margin-right: 25px;
    margin-left: 25px;
    list-style: none;
    display: flex;
}

nav .flex {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    width: 100%;
}

nav .left {
    line-height: 50px;
}

nav .right {
    font-family: Quicksand, sans-serif;
}

nav .right .gallery {
    font-size: 30px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    padding: 0;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

nav ul li h2 {
    position: relative;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 22px;
}

nav .left a:hover {
    color: rgb(226, 62, 62);
}

nav h2:hover {
    color: rgb(247, 119, 59);
}

nav .right a:hover {
    color: rgb(251, 255, 0);
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.fa-github:hover {
    color: #000;
    border-radius: 50%;
    background: #fff;
}

label #sign-one,
label #sign-two {
    font-size: 30px;
    color: #fff;
    background: rgba(29, 26, 26, 0.25);
    float: right;
    margin-top: 15px;
    margin-right: 30px;
    padding: 1px 4px;
    cursor: pointer;
    z-index: 5;
    display: none;
}

#res-menu {
    display: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.banner-area {
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/portbg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.banner-text {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.banner-text h2 {
    font-family: Roboto Mono, monospace;
    color: #fff;
    font-size: 56px;
    text-align: center;
}

.banner-image {
    padding-bottom: 60px;
}

.banner-image img {
    display: block;
    max-width: 60%;
    max-height: 100%;
    min-height: 40%;
    height: auto;
    width: auto;
    border-radius: 50%;
    margin: 0 auto;
}

@media (max-width: 870px) {
    .banner-text h2 {
        font-size: 32px;
    }

    label #sign-one {
        display: block;
    }

    .sticky {
        background: none;
    }

    nav .left,
    nav .right {
        margin: auto auto;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 80vh;
        background: rgba(236, 162, 0, 0.9);
        top: 0;
        left: -100%;
        text-align: center;
        transition: .5s;
        margin-left: 0;
        margin-top: 65px;
    }

    nav ul li {
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav .flex {
        flex-direction: column;
        align-content: center;
    }

    nav .left {
        margin-bottom: 0;
    }

    nav .right {
        margin-top: 0;
    }

    nav .right > *{
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #res-menu:checked ~ ul {
        left: 0;
    }

    #res-menu:checked ~ label #sign-one {
        display: none;
    }

    #res-menu:checked ~ label #sign-two {
        display: block;
    }
}

.hidden {
    visibility: hidden;
}

.typewriter {
    margin: auto 0;
}

.typewriter h2 {
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    margin: 0 auto;
    border-right: .15em solid orange;
    letter-spacing: .2em;
    animation: 
        typing 2s steps(20, end),
        blink-caret .75s step-end infinite;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

/* ***** NAVBAR/FRONT PAGE END ***** */

.separator {
    width: 100%;
    height: 5px;
    background-color: rgb(228, 214, 189);
}

/* ***** CONTAINER 1 START ***** */

.boxes-res {
    display: none;
}

.container-1 {
    font-family: Quicksand, sans-serif;
    background-color: rgb(97, 92, 76);
    background: linear-gradient(rgb(255, 253, 247), rgb(87, 84, 77)) 
}

.container-1 ul {
    width: 80%;
    list-style-position: inside;
    margin: auto;
    text-align: left;
}

.container-1 a {
    color: inherit;
}

.intro {
    font-size: 20px;
}

.intro h2 {
    font-size: 40px;
    width: auto;
}

.site-list {
    margin-top: 5px;
    display: inline-block;
}

.site-list p{
    font-family: Roboto Mono, monospace;
    border-bottom: 1px solid black;
}

.site-list p:last-child {
    border: none;
}

@media (max-width: 1150px) {
    .container-1 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-box-orient: vertical; 
        -moz-box-orient: vertical;
        -box-orient: vertical;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .boxes-intro {
        flex-direction: column;
    }

    .boxes-intro .flex-column {
        flex-direction: row;
    }

    .intro h2 {
        font-size: 24px;
    }

    .intro {
        font-size: 16px;
    }
}

/* ***** CONTAINER 1 END ***** */

/* ***** CONTAINER 2 START ***** */

.container-2 {
    background: linear-gradient(rgb(87, 84, 77), rgb(255, 253, 247));
    height: auto;
}

.container-2 h1 {
    font-size: 50px;
}

.container-2 h1,
.container-2 h2 {
    font-family: Quicksand, sans-serif;
    text-align: center;
}

.container-2 .title {
    margin: 40px;
    max-width: 500px;
}

.about-item {
    margin: 1em;
}

.about-item h3 {
    margin-bottom: 0.5em;
}

.about-item-c {
    position: relative;
}

.about-item-v {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
}

.about-image {
    display: inline-block;
    margin: 0 .5em;
}

.about-image img {
    max-width: 80px;
}

.about-container {

}

@media (min-width: 1150px) {

}
/* ***** CONTAINER 2 END ***** */